<div class="container">
<h1>Product Listing</h1>
<div class="row my-4">
  <div class="col-1">
    <label for="search">Search</label>:
  </div>
  <div class="col-8">
    <input type="text" size="50" name="search" id="search" [(ngModel)]="searchText">
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th><button class="btn btn-danger" (click)="toggleImage()">{{showImage ? 'Hide' : 'Show'}} Image</button></th>
        <th>ID</th>
        <th>Product</th>
        <th>Code</th>
        <th>Avalaible</th>
        <th>Price</th>
        <th>Star</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | productSearch : searchText">
        <td><img *ngIf="showImage" [src]="product.imageUrl" [alt]="product.productName" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"></td>
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.releaseDate | date}}</td>
        <td>{{product.price | currency}}</td>
        <td><app-star-ratings [ratings]="product.starRating" (changeRatings)="changeRatings($event, product.productId)"></app-star-ratings></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
